@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* font-family: 'Lato', sans-serif; */

:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
    --secondary-bg-color: #5c1011;
  }

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#section4{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin: auto;
}

#section-red{
    height: 100%;
    width: 50%;
    background-image: url(img/img/myimg/pattern.png);
    color: white;
    background-size: cover;
    background-position: center center;
    padding:60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

#section-red-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#section-red-text h4{
    text-transform: uppercase;
    font-size: .9em;

}

#section-red-text p{
    font-size: 1.8em;
    font-weight: bold;
}

#section-red-text2{
    display: flex;
    flex-direction: column;
    gap: 55px;
    
}

.section-red-text2-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.section-red-text2-icon i{
    font-size: 1.8em;
}

.section-red-text2-icon-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-red-text2-icon-text h2{
    font-size: 1.1em;
}

.section-red-text2-icon-text p{
    font-weight: 400;
    font-size: 1em;
}

#section-icon{
    width: 50%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.section-icon-text{
    width: 50%;
    height: 100%;

}

.section-icon-text2{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.section-icon-text2 i{
    font-size: 3.5em;
    color: var(--main-color);
}

.section-icon-text2 span{
    font-size: 4em;
    font-weight: 900;
}

.section-icon-text2 p{
    font-weight: bold;
    font-size: 1em;
}
    
#section-icon-text-1{
    border-right: 2px solid var(--secondary-color);
}

#section-icon-text2-1{
    border-top: 2px solid var(--secondary-color);
}

#section-icon-text2-2{
    border-top: 2px solid var(--secondary-color);
}

#section6{
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 60px;
    gap: 30px;

}

#section6-text{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section6-text h2{
    font-size: 2.5em;
    text-align: center;
    width: 60%;    
    font-weight: bold;
}


#section6-text h2 span{
    color: var(--main-color);
}

#section6-img{
    display: flex;
    flex-direction: row;
    gap: 30px;

}

.section6-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.section6-image span{
    color: var(--main-color);
    font-weight: bold;
}

.section6-image p{
    font-weight: bold;
}


.section6-image img{
    width: 340px;

}